.Checkbox span:first-of-type {
  background-color: #DDE6EB;
  box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.18), 0 1px 0 0px rgba(255,255,255,0.75);
}

.Checkbox input {
  left: -99999px;
}

.Checkbox input:checked ~ span:first-of-type svg{
  opacity: 1;
}

.Checkbox input:disabled ~ span:first-of-type {
  cursor: not-allowed;
  opacity: 0.5;
}

.Checkbox input:focus ~ span:first-of-type,
.Checkbox input:checked ~ span:first-of-type {
  background-color: #BBE4E8;
}
