# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
# these owners will be requested for review when someone
# opens a pull request.
# All GUI Teams: @ipfs-shipyard/ipfs-gui @ipfs-shipyard/gui @ipfs/gui-dev @ipfs/wg-gui-ux
*   @ipfs/gui-dev @sgtpooki

# Explicit ping when changes impact build and release pipeline
electron-builder.yml @lidel
release-please-config.json @lidel
pkgs/ @lidel
.github/workflows/ci.yml @lidel
src/auto-updater/ @lidel

