.peer {
  margin: 0.2em 1em;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0.2em;
  border: 1px solid black;
  transition: 0.2s ease all;

  &:hover {
    border-color: rgba(255, 255, 255, 0.3);
  }

  &>p {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .label {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.4);
  }

  .id {
    margin: 0;
  }

  .addr {
    margin: 0.5em 0 0 0;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.4)
  }
}