<html>
  <head>
    <meta charset='utf-8'/>
    <link rel="stylesheet" href="../styles/app.less">
  </head>
  <body>
    <div id='menubar'/>
    <script>require('./menubar')</script>
    <script>function trimSvgWhitespace() {

      // get all SVG objects in the DOM
      var svgs = document.getElementsByTagName("svg");
    
      // go through each one and add a viewbox that ensures all children are visible
      for (var i=0, l=svgs.length; i<l; i++) {
    
        var svg = svgs[i],
            box = svg.getBBox(), // <- get the visual boundary required to view all children
            viewBox = [box.x, box.y, box.width, box.height].join(" ");
    
        // set viewable area based on value above
        svg.setAttribute("viewBox", viewBox);
      }
    }
    
    </script>
  </body>
</html>
