<html>
  <head>
    <title>Welcome to IPFS</title>
    <meta charset='utf-8'/>
    <link rel="stylesheet" href="../../node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="../../node_modules/css-box-sizing-border-box/index.css">
    <link rel="stylesheet" href="../styles/common.less">
    <link rel="stylesheet" href="../styles/fonts.less">
    <link rel="stylesheet" href="../styles/animations.less" />
    <script>
      require('../js/weclome')
    </script>
  </head>
  <body>
    <div id='welcome'></div>
  </body>
</html>
